<div class="delimitador-conteudo">
    <div class="flex-contato">
        <ul>
            <li><img src="assets/imgs/icones-contato/icons8-endere%C3%A7o-48.png" alt=""> Av. Ayrton Senna 2.150 - CasaShopping Bloco A Sala 210 - Barra da Tijuca</li>
            <li><img src="assets/imgs/icones-contato/icons8-telefone-48.png" alt=""> (21) 2431-6741</li>
            <li><img src="assets/imgs/icones-contato/icons8-whatsapp-48.png" alt=""> (21) 9 9965-4339</li>
            <li><b>Horário para agendamento:</b> Seg à Sex de 08:30h até 17h</li>
        </ul>

        <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14691.37254205259!2d-43.3641048!3d-22.9927951!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe09d0eef41c790eb!2sStudio+Postural+Sa%C3%BAde+%26+Est%C3%A9tica!5e0!3m2!1spt-BR!2sbr!4v1558540949474!5m2!1spt-BR!2sbr"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
</div>

<form>
    <div class="delimitador-conteudo">
        <h2>Envie sua Mensagem</h2>

        <input type="text" name="nome" id="nome" required placeholder="Digite seu nome">

        <input type="email" name="email" id="email" required placeholder="Digite seu email">

        <input type="text" name="assunto" id="assunto" required placeholder="Digite o assunto da mensagem">

        <textarea name="mensagem" id="mensagem" cols="30" rows="10" required placeholder="Digite sua Mensagem"></textarea>

        <button type="submit" class="btn btn-primary enviar-form">Enviar</button>
    </div>
</form>