<div class="delimitador-conteudo flex-quem-somos">
    <article class="quemSomos">
        <h1>O Studio Postural</h1>
        <p>Criado em 1993, o Studio Postural surgiu de um antigo anseio: o de criar um espaço que abrigasse atividades e tratamentos relacionados à saúde e à estética e que, centrado na perspectiva das diferenças entre os indivíduos, atendesse às necessidades
            especificas de cada um. Dentro dessa filosofia, o Studio Postural oferece várias opções de tratamentos e terapias corporais, em ambiente confortável, na Barra da Tijuca (CasaShopping – Av. Ayrton Senna).</p>

        <p>Nossa equipe é constituída por profissionais com formações diversas e interdisciplinares, que buscam sempre aprimoramento técnico e pessoal, e são capazes de utilizar diferentes caminhos, abordagens e técnicas visando o equilíbrio, a harmonia,
            a qualidade de vida e a saúde.</p>
    </article>

    <aside class="foto-estudio">
        <img src="assets/imgs/imgs-quemSomos/foto-temporaria-studio.jpg" alt="Foto do Studio">
    </aside>
</div>