< <div class="delimitador-conteudo flex-profissionais">
    <article class="coluna-profissional">
        <img src="assets/imgs/imgs-profissionais/daniel-corneschi-538245-unsplash.jpg" alt="">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ad cumque, qui voluptates in amet! Inventore labore, magnam vero, a voluptas obcaecati perspiciatis, debitis eius harum saepe eligendi sequi quidem.</p>
    </article>
    <article class="coluna-profissional">
        <img src="assets/imgs/imgs-profissionais/daniil-lobachev-1440343-unsplash.jpg" alt="">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ad cumque, qui voluptates in amet! Inventore labore, magnam vero, a voluptas obcaecati perspiciatis, debitis eius harum saepe eligendi sequi quidem.</p>
    </article>
    <article class="coluna-profissional">
        <img src="assets/imgs/imgs-profissionais/isaac-castillejos-1132159-unsplash.jpg" alt="">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ad cumque, qui voluptates in amet! Inventore labore, magnam vero, a voluptas obcaecati perspiciatis, debitis eius harum saepe eligendi sequi quidem.</p>
    </article>
    <article class="coluna-profissional">
        <img src="assets/imgs/imgs-profissionais/mathias-huysmans-786948-unsplash.jpg" alt="">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ad cumque, qui voluptates in amet! Inventore labore, magnam vero, a voluptas obcaecati perspiciatis, debitis eius harum saepe eligendi sequi quidem.</p>
    </article>
    <article class="coluna-profissional">
        <img src="assets/imgs/imgs-profissionais/jacob-postuma-617783-unsplash.jpg" alt="">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ad cumque, qui voluptates in amet! Inventore labore, magnam vero, a voluptas obcaecati perspiciatis, debitis eius harum saepe eligendi sequi quidem.</p>
    </article>
    <article class="coluna-profissional">
        <img src="assets/imgs/imgs-profissionais/tamara-bellis-401355-unsplash.jpg" alt="">
        <h2>Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus ad cumque, qui voluptates in amet! Inventore labore, magnam vero, a voluptas obcaecati perspiciatis, debitis eius harum saepe eligendi sequi quidem.</p>
    </article>
    </div>