<div class="delimitador-conteudo">
    <div class="dropdown">
        <label id="label-todos-artigos" for="dropdownMenuButton">Todos os Artigos</label>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Selecione um artigo
            </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Tratamento para celulite</a>
            <a class="dropdown-item" href="#">Tratamento para Hiperdrose</a>
            <a class="dropdown-item" href="#">Toxina Botulínica</a>
        </div>
    </div>

    <div class="flex-pag-blog">
        <article class="artigo">
            <img src="imgs/imgs-blog/celulite-300x201.jpg" alt="">
            <h2>Tratamento para celulite</h2>

            <p>A primeira coisa a se saber sobre a celulite é que ela é como Pressão Alta, ainda não existe cura mas existe tratamento. A segunda coisa a se saber é que celulite é uma alteração tecidual inerente da mulher e do seu ciclo hormonal. Se uma
                mulher não tem celulite é porque ela foi uma das raras abençoadas.</p>

            <a data-aos="zoom-in" class="btn btn-primary" href="quem-somos.php" role="button">Saiba Mais</a>
        </article>

        <article class="artigo">
            <img src="imgs/imgs-blog/hiperdrose.jpg" alt="">
            <h2>Tratamento para Hiperdrose</h2>

            <p>Hiperidrose é uma alteração de caráter genético/emocional que leva à um excesso de secreção de suor mais comumente distribuído nas seguintes porcentagens:mãos 36%, pés 21%, axilas 18%, rosto 11% e demais regiões do corpo 14%.</p>

            <a data-aos="zoom-in" class="btn btn-primary" href="quem-somos.php" role="button">Saiba Mais</a>
        </article>

        <article class="artigo">
            <img src="imgs/imgs-blog/ft-botox2.jpg" alt="">
            <h2>Toxina Botulínica </h2>

            <p>Ao contrário do que se pensa a toxina botulínica (popularizada pela marca Botox®) não é usada para aumento de lábios ou preenchimentos faciais. A ação da toxina é de bloqueio neurológico sendo usada desde tratamentos oftalmológicos e neurológicos
                até estéticos.</p>

            <a data-aos="zoom-in" class="btn btn-primary" href="quem-somos.php" role="button">Saiba Mais</a>
        </article>
    </div>
</div>